# Entorno virtual
venv/
__pycache__/
*.pyc

# Archivos de bases de datos locales
*.db

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos de entorno y configuraciones sensibles
.env
